* {
    margin: 0;
    padding: 0;

    --m: 32px;

    --background1: hsl(18, 4%, 20%);
    --background2: hsl(18, 4%, 17%);
    --border-color: hsl(18, 2%, 32%);
    --border: solid 1px var(--border-color);
    --text-color: hsl(18, 2%, 85%);
    color: var(--text-color);
}

body {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

body > :is(.commandsPage, .treePage) {
    height: calc(100% - (2 * var(--m)));
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--m);
}

.commandsPage {
    flex: 1 1 0;
    background: var(--background2);
    border-right: var(--border);
    align-items: flex-end;
}

.treePage {
    flex: 2 1 0;
    background: var(--background1);
}

